<div class="row">
  <form [formGroup]="itemForm" (ngSubmit)="addItem(itemForm.value)" >
    <div class="form-row">
    <div class="form-group col-md-6">
        <label class="control-label"> <span class="required">*</span> اسم المنتج (باللغة العربية) </label>
        <input type="text" class="form-control" formControlName="titleAr" required>
        <div *ngIf="itemForm.get('titleAr').touched && itemForm.get('titleAr').errors?.required" class="text-danger">
          بيان مطلوب
       </div>
      </div>
      
    <div class="form-group col-md-6">
        <label class="control-label">  اسم المنتج (باللغة الانجليزية) </label>
        <input type="text" class="form-control" formControlName="titleEn">
      </div>

    <div class="form-group col-md-6">
      <label class="control-label"><span class="required">*</span> اختر الشركة </label>
      <select class="form-control" formControlName="companyKey" required>
        <option *ngFor="let company of companies" [value]="company.key">{{company.titleAr}}</option>
     </select>
     <div *ngIf="itemForm.get('companyKey').touched && itemForm.get('companyKey').errors?.required" class="text-danger">
      بيان مطلوب
    </div>
    </div>
      <div class="form-group col-md-6">
        <label class="control-label"> <span class="required">*</span>الوصف</label>
           <input type="text" class="form-control" 
           formControlName="info" required />
         <div *ngIf="itemForm.get('info').touched && itemForm.get('info').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
    </div>
    <div class="form-group col-md-6">
      <label class="control-label"> <span class="required">*</span>السعر </label>
         <input type="text" class="form-control"
         formControlName="price" required />
       <div *ngIf="itemForm.get('price').touched && itemForm.get('price').errors?.required" class="text-danger">
         بيان مطلوب
       </div>
    </div>
<ng-template #noLink>
    <div class="form-group col-md-6">
      <label class="control-label"> <span class="required">*</span>صورة المنتج</label>
         <input type="file" class="form-control-file" (change)="onFileSelected($event)"
         formControlName="imageUrl" required />
       <div *ngIf="itemForm.get('imageUrl').touched && itemForm.get('imageUrl').errors?.required" class="text-danger">
         بيان مطلوب
       </div>
       </div>
      </ng-template>
      <div class="col-md-6" *ngIf=" isLink ; else noLink">
        <label class="control-label"> صورة المنتج </label>
         <p>
          <a [href]="link" class="stretched-link"> عرض الصورة</a> 
             | 
          <a class="stretched-link text-danger" (click)="deleteImg()">حذف</a>
         </p>
      </div>

       <hr/>
       
    <button type="submit" [disabled]="itemForm.invalid"  class="btn btn-primary" >حفظ </button>
    </div>
   </form>
  </div>
