<div class="row">
  <form [formGroup]="itemForm" (ngSubmit)="addItem(itemForm.value)" >
    <div class="form-row">
    <div class="form-group col-md-6">
        <label class="control-label"> <span class="required">*</span> اسم المنتج (باللغة العربية) </label>
        <input type="text" class="form-control" formControlName="titleAr" required>
        <div *ngIf="itemForm.get('titleAr').touched && itemForm.get('titleAr').errors?.required" class="text-danger">
          بيان مطلوب
       </div>
      </div>
      
    <div class="form-group col-md-6">
        <label class="control-label">  اسم المنتج (باللغة الانجليزية) </label>
        <input type="text" class="form-control" formControlName="titleEn">
      </div>

    <div class="form-group col-md-6">
      <label class="control-label"><span class="required">*</span> اختر الشركة </label>
      <select class="form-control" formControlName="companyKey" required>
        <option *ngFor="let company of companies" [value]="company.key">{{company.titleAr}}</option>
     </select>
     <div *ngIf="itemForm.get('companyKey').touched && itemForm.get('companyKey').errors?.required" class="text-danger">
      بيان مطلوب
    </div>
    </div>
      <div class="form-group col-md-6">
        <label class="control-label"> <span class="required">*</span>الوصف</label>
           <input type="text" class="form-control" 
           formControlName="info" required />
         <div *ngIf="itemForm.get('info').touched && itemForm.get('info').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
    </div>
    <div class="form-group col-md-6">
      <label class="control-label"> <span class="required">*</span>السعر </label>
         <input type="text" class="form-control"
         formControlName="price" required />
       <div *ngIf="itemForm.get('price').touched && itemForm.get('price').errors?.required" class="text-danger">
         بيان مطلوب
       </div>
    </div>
    <div class="form-group col-md-6">
      <label class="control-label"><span class="required">*</span>  صورة المنتج </label>
      <br>

      <div class="container" *ngIf="100 > progress" style="margin-bottom: 10px;">
        <div class="progress">
          <div class="progress-bar" role="progressbar"
          [style.width.%]="progress" ></div>
        </div>
      </div>

      <ng-container *ngIf="link">
        <div>
          <img [src]="link" class="img" >
        </div>
       |   
      <label class="control-label">اختيار صورة جديدة</label>
    </ng-container>
    <a>
      <input type="file" class="form-control-file" (change)="onFileSelected($event)" >
    </a>   
    </div>
   
    <div class="footer" style="width:90%;">
      <hr/>
    <button type="submit" [disabled]="itemForm.invalid || !link || 100 > progress"  class="btn btn-primary" >حفظ </button>
    </div>
  </div>
   </form>
  </div>
