form {
    margin-top:20px;
    width: 80%;
    margin-right: 20px;
    text-align: start;
}

.required{
    color: #d00;
}
.stretched-link{
    font-size: 14px;
}

.btn-primary{
    margin-right: 90%;
}
.img{
    width:200px; 
    height: 150px;
     object-fit: fill;
}