
<div class="alert alert-sucess" *ngIf="sent ; else error" >تم الإرسال بنجاح!</div>
<ng-template #error>
  <div class="alert alert-danger" *ngIf="error"> عفوا،هذا البريد الالكتروني غير مسجل</div>
  </ng-template>


<div class="container forgetPassword-container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 form">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h2 class="text-center">إعادة ضبط كلمة المرور</h2>
                  <p> من فضلك ادخل بريدك الالكتروني حتى يتم ارسال الرابط</p>
                  <div class="panel-body">
                    <form [formGroup]="forgetPassForm" (ngSubmit)="send(forgetPassForm.value)" method="post">
                      <div class="form-group">
                        <input formControlName="email" placeholder="البريد الالكتروني" class="form-control"  type="email" required>
                        <div class="text-danger" 
                          *ngIf="forgetPassForm.get('email').errors?.required && forgetPassForm.get('email').touched">
                              بيان مطلوب</div>
                              <div 
                              *ngIf="forgetPassForm.get('email').errors?.pattern && forgetPassForm.get('email').errors.dirty" class="text-danger">
                               ادخل البريد الالكتروني الصحيح</div> 
                            </div>
                      <div class="form-group">
                        <button [disabled]="forgetPassForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">إرسال</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	   </div>
