
  <form [formGroup]="deptForm" (ngSubmit)="addDepartment(deptForm.value)" >
  <div class="form-group col-md-6">
    <label class="control-label"> <span class="required">*</span> اسم القسم (باللغة العربية) </label>
    <input type="text" class="form-control" formControlName="titleAr" required>
    <div *ngIf="deptForm.get('titleAr').touched && deptForm.get('titleAr').errors?.required" class="text-danger">
      بيان مطلوب
   </div>
  </div>

  <div class="form-group col-md-6">
    <label class="control-label">  اسم القسم (باللغة الإنجليزية)</label>
    <input type="text" class="form-control" formControlName="titleEn">
  </div>

  
  <div class="form-group col-md-6">
    <label class="control-label"><span class="required">*</span>  صورة القسم  </label>
    <br>
    <ng-container *ngIf="link ; else noLink">
    <a [href]="link" target="_blank"> عرض الصورة </a> 
    | 
    <label class="control-label">  اختيار صورة جديدة</label>
    <input type="file" class="form-control-file" (change)="onFileSelected($event)" formControlName="imageUrl" >
  </ng-container>
    <ng-template #noLink>
     <input type="file" class="form-control-file" (change)="onFileSelected($event)" formControlName="imageUrl">
    </ng-template>
  </div>

   <div class="footer" style="width:70% ;">
   <hr/>
  <button type="submit"  [disabled]="deptForm.invalid" class="btn btn-primary" >حفظ </button>
  </div>
 </form>





