
<div class="container">
  <div class="card">
  <div class="card-header" style="max-height: 150px;">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-6">
          <button type="button"  class="btn btn-primary " routerLink="/add-item/"> إضافة منتج </button>
        </div>
        <div class="col-6">
          <h4>المنتجات </h4>
        </div>
      </div>
    </div>
        <div class="row">
          <div class="input-group rounded">
            <input type="search"  [formControl]="input" class="form-control rounded" placeholder="ابحث" aria-label="Search"
              aria-describedby="search-addon" style="max-width: 300px; margin-top: 20px;" />
         </div> 
      </div>
  </div> 
  <div class="card-body">
  <div class="row" >
    <div class="col-9" style="text-align: right; max-width: 100%;">
        <div class="table-responsive-sm mb-2">
          <table class="table ">
            <thead>
              <tr>
                <th>#</th>
                <th>اسم المنتج باللغة العربية </th>
                <th> السعر</th>
                 <th> الوصف</th>
                 <th >خيارات </th>
              </tr>
            </thead>
           <tbody>
             <tr *ngFor="let item of filteredItems ; let i = index  ">
               <th>{{i+1}}</th>
                <td>{{item.titleAr}}</td>
                <td>{{item.price}}</td>
                 <td>{{item.info}}</td>
                <td><a class="option" routerLink="/add-item/" [queryParams]="{id:item.key}">تعديل</a>
                    | 
                     <a (click)="delete(item.key)" class="text-danger option">حذف</a>
                 </td>
             </tr>
            </tbody>
          </table>
        </div>
   </div>
 </div>
 