 <div class="container">
   <div class="card">
     <div class="card-header">
       <div class="container">
         <div class="row">
           <div class="col-6"> 
           </div>
           <div class="col-6">
            <h3>الشكاوى</h3>
           </div>
         </div>
       </div>
     </div>
     <div class="card-body" style="height: auto;">
       <div class="row">
         <div class="col-9" style="text-align: right; max-width: 100%;">
          <div class="table-responsive-sm mb-2">
            <table class="table" >
              <thead>
                <tr>
                  <th>#</th>
                  <th> اسم المستخدم  </th>
                  <th> البريد الالكتروني </th>
                   <th>الشكوى</th>
                </tr>
              </thead>
             <tbody>
               <tr *ngFor="let complain of complains ; let i = index">
                 <th>{{i+1}}</th>
                  <td>{{complain.name}}</td>
                   <td>{{complain.email}}</td>
                   <td>{{complain.message}}</td>
               </tr>
              </tbody>
            </table>
         </div>
       </div>
     </div>
   </div>
 </div>



 <!-- <div class="row" style="margin-top: 24px;">
  <div class="col-9">
    
    </div>
  </div>
  </div> -->

