
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Wedding Dashboard </div>
  <div class="list-group list-group-flush">
    <a routerLink="/" class="list-group-item list-group-item-action bg-light">لوحة التحكم </a>
    <a  routerLink="/departments"class="list-group-item list-group-item-action bg-light">الاقسام الرئيسية</a>
    <a routerLink="/services" class="list-group-item list-group-item-action bg-light">الخدمات </a>
    <a routerLink="/companies" class="list-group-item list-group-item-action bg-light">الشركات </a>
    <a routerLink="/items" class="list-group-item list-group-item-action bg-light">المنتجات </a>
  </div>
</div>

