.thumbnail{
    height: 80px;
    border-radius: 100%;
    width: 120px;
    object-fit: cover;
}
.option{
    font-size:14px;
}
.btn-primary{
    margin-left: 85%;
    margin-top: 20px;
    border-radius: 4px;
}
.card{
    margin-top:70px;
}

.card-header{
border:none;
background-color: white;
}
.card-toolbar{
    justify-content: center;
}
.table{
    margin-left: 200px;
    width:120%
}