<div class="container">
    <div class="row" *ngIf="text">
        <div class="col-3">
            <div class="alert alert-primary" role="alert">
                تم {{text}} بنجاح!
              </div>
        </div>
    </div>
   <div class="row">
    <div class="col-3">
     <button class="btn btn-outline-light" (click)="activate()" style="display:none">تفعيل/ تعطيل عمليةالشراء </button>
 </div>
</div>
 <div class="row">
         <div role="alert" class="alert alert-success alert-dismissible">
             <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
             <h2 class="alert-heading">Wedding تطبيق!</h2>
             <hr>
             <p> مرحبا بكم في تطبيق Wedding لخدمات الافراح والزفاف</p>
        
         
         <p class="text-justify">
           لوحة تحكم تطبيق Wedding لخدمات الافراح والزفاف
         </p>
     </div>
 </div>


</div>