
<div class="row">
    <form [formGroup]="companyForm" (ngSubmit)="addCompany(companyForm.value)">
      <div class="form-row">
       <div class="form-group col-md-6">
         <label class="control-label required"> اسم الشركة (باللغة العربية) </label>
         <input type="text" class="form-control" formControlName="titleAr" required>
          <div *ngIf="companyForm.get('titleAr').touched &&companyForm.get('titleAr').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
     
       <div class="form-group col-md-6">
         <label class="control-label">  اسم الشركة (باللغة الإنجليزية)</label>
         <input type="text" class="form-control" formControlName="titleEn">
       </div>
     
       <div class="form-group col-md-6">
         <label class="control-label required">  وصف الشركة</label>
         <input type="text" class="form-control" formControlName="description" required>
         <div *ngIf="companyForm.get('description').touched &&companyForm.get('description').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
       <div class="form-group col-md-6">
         <label class="control-label required">  رقم الهاتف</label>
         <input placeholder=" رقم الهاتف" type="text" class="form-control" formControlName="phoneNum" required>
         <div *ngIf="companyForm.get('phoneNum').touched &&companyForm.get('phoneNum').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
       <div class="form-group col-md-6">
         <label class="control-label required">  العنوان</label>
         <input placeholder=" العنوان" type="text" class="form-control" formControlName="address" required>
         <div *ngIf="companyForm.get('address').touched &&companyForm.get('address').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
     
      <div class="form-group col-md-6">
          <label class="control-label required"> اختر الخدمات </label>
          <select multiple data-live-search="true" class="form-control select" formControlName="services" required>
             <option></option>
             <option *ngFor="let service of services" [value]="service.key" >{{service.titleAr}}</option> 
          </select>
          <div *ngIf="companyForm.get('services').touched &&companyForm.get('services').errors?.required" class="text-danger">
            بيان مطلوب
          </div>
      </div>
     
       <div class="form-group col-md-6">
         <label class="control-label required"> صورة الشركة </label>
         <input type="file" class="form-control-file" (change)="onFileSelected($event)" formControlName="imageUrl" required>
         <img [src]="link" style="height: 50px;"  *ngIf="link">
       </div>
      
    </div>
    <hr/>
       <button type="submit" [disabled]="!companyForm.valid" class="btn btn-primary"> حفظ</button>
       <!--  -->
     </form>
    </div>
 
    <!-- <div class="col-md-6" *ngIf=" isLink ; else noLink">
      <label class="control-label required"> صورة الشركة </label>
       <p>
        <a href="{{link}}"> عرض الصورة</a> 
           | 
        <a class="stretched-link text-danger" (click)="deleteImg()">حذف</a>
       </p>
    </div> -->
