
<div class="row">
    <form [formGroup]="companyForm" (ngSubmit)="addCompany(companyForm.value)">
      <div class="form-row">

       <div class="form-group col-md-6">
         <label class="control-label required"> اسم الشركة (باللغة العربية) </label>
         <input type="text" class="form-control" formControlName="titleAr" required>
          <div *ngIf="companyForm.get('titleAr').touched &&companyForm.get('titleAr').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
     
       <div class="form-group col-md-6">
         <label class="control-label required">  اسم الشركة (باللغة الإنجليزية)</label>
         <input type="text" class="form-control" formControlName="titleEn" required>
         <div *ngIf="companyForm.get('titleEn').touched &&companyForm.get('titleEn').errors?.required" class="text-danger">
          بيان مطلوب
        </div>
       </div>
     
       <div class="form-group col-md-6">
         <label class="control-label required">  وصف الشركة</label>
         <input type="text" class="form-control" formControlName="descriptionAr" required>
         <div *ngIf="companyForm.get('descriptionAr').touched &&companyForm.get('descriptionAr').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
       <div class="form-group col-md-6">
        <label class="control-label required"> وصف الشركة باللغة الانجليزية</label>
        <input type="text" class="form-control" formControlName="descriptionEn" required>
        <div *ngIf="companyForm.get('descriptionEn').touched &&companyForm.get('descriptionEn').errors?.required" class="text-danger">
          بيان مطلوب
        </div>
      </div>

       <div class="form-group col-md-6">
         <label class="control-label required">  رقم الهاتف</label>
         <input placeholder=" رقم الهاتف" type="text" class="form-control" formControlName="phoneNum" required>
         <div *ngIf="companyForm.get('phoneNum').touched &&companyForm.get('phoneNum').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
       <div class="form-group col-md-6">
         <label class="control-label required">  العنوان (باللغة العربية)</label>
         <textarea placeholder=" العنوان" type="text-area" class="form-control" formControlName="addressAr" required></textarea>
         <div *ngIf="companyForm.get('addressAr').touched &&companyForm.get('addressAr').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
       <div class="form-group col-md-6">
        <label class="control-label required"> العنوان (باللغة الانجليزية) </label>
        <textarea type="text-area" placeholder="Address" placeholder=" العنوان" class="form-control" formControlName="addressEn" required></textarea>
         <div *ngIf="companyForm.get('addressEn').touched &&companyForm.get('addressEn').errors?.required" class="text-danger">
          بيان مطلوب
        </div>
      </div>
     
      <div class="form-group col-md-6">
          <label class="control-label required"> اختر الخدمات </label>
          <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="services" formControlName="services">
          </ng-multiselect-dropdown>
       
          <div *ngIf="companyForm.get('services').touched &&companyForm.get('services').errors?.required" class="text-danger">
            بيان مطلوب
          </div>
      </div>
     
       <div class="form-group col-md-6">
         <label class="control-label required">صورة الشركة</label>
         <br>
         <div class="container" *ngIf="100 > imgProgress" style="margin-bottom: 10px;">
          <div class="progress">
            <div class="progress-bar" role="progressbar"
            [style.width.%]="imgProgress" ></div>
          </div>
        </div>

         <ng-container *ngIf="imgLink">
         <img [src]="imgLink" class="img" style="margin-bottom: 10px;">
         <br>
         |  
         <label class="control-label"> اختيار صورة جديدة</label>
        </ng-container>
        <a>
          <input type="file" class="form-control-file" 
          (change)="onImageSelected($event)">
        </a>
       </div>



       <div class="form-group col-md-6">
        <label class="control-label required">صورة الغلاف للشركة</label>
        <br>

        <div class="container" *ngIf="100 > coverProgress" style="margin-bottom: 10px;">
          <div class="progress">
            <div class="progress-bar" role="progressbar"
            [style.width.%]="coverProgress" ></div>
          </div>
        </div>
        <ng-container *ngIf="coverLink" >
        <img [src]="coverLink" class="img" style="margin-bottom: 10px;">
        <br>
        |  
        <label class="control-label">  اختيار صورة جديدة</label>
       </ng-container>
       
        <input type="file" class="form-control-file" (change)=" onCoverSelected($event)">
       
         
      </div>
      
    </div>
    <hr/>
       <button type="submit"
        [disabled]="!companyForm.valid || !imgLink || !coverLink || 100>imgProgress || 100>coverProgress"
         class="btn btn-primary"> حفظ</button>
      
     </form>
    </div>
 