
<div class="row">
    <form [formGroup]="companyForm" (ngSubmit)="addCompany(companyForm.value)">
      <div class="form-row">

       <div class="form-group col-md-6">
         <label class="control-label required"> اسم الشركة (باللغة العربية) </label>
         <input type="text" class="form-control" formControlName="titleAr" required>
          <div *ngIf="companyForm.get('titleAr').touched &&companyForm.get('titleAr').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
     
       <div class="form-group col-md-6">
         <label class="control-label">  اسم الشركة (باللغة الإنجليزية)</label>
         <input type="text" class="form-control" formControlName="titleEn">
       </div>
     
       <div class="form-group col-md-6">
         <label class="control-label required">  وصف الشركة</label>
         <input type="text" class="form-control" formControlName="description" required>
         <div *ngIf="companyForm.get('description').touched &&companyForm.get('description').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
       <div class="form-group col-md-6">
         <label class="control-label required">  رقم الهاتف</label>
         <input placeholder=" رقم الهاتف" type="text" class="form-control" formControlName="phoneNum" required>
         <div *ngIf="companyForm.get('phoneNum').touched &&companyForm.get('phoneNum').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
       <div class="form-group col-md-6">
         <label class="control-label required">  العنوان</label>
         <textarea placeholder=" العنوان" type="text-area" class="form-control" formControlName="address" required></textarea>
         <div *ngIf="companyForm.get('address').touched &&companyForm.get('address').errors?.required" class="text-danger">
           بيان مطلوب
         </div>
       </div>
     
      <div class="form-group col-md-6">
          <label class="control-label required"> اختر الخدمات </label>
          <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="services" formControlName="services">
          </ng-multiselect-dropdown>
       
          <div *ngIf="companyForm.get('services').touched &&companyForm.get('services').errors?.required" class="text-danger">
            بيان مطلوب
          </div>
      </div>
     
       <div class="form-group col-md-6">
         <label class="control-label required">صورة الشركة</label>
         <br>
         <ng-container *ngIf="link">
         <a [href]="link"  target="_blank"> عرض الصورة </a> 
         |  
         <label class="control-label">  اختيار صورة جديدة</label>
        </ng-container>
          <input type="file" class="form-control-file" (change)="onFileSelected($event)" formControlName="imageUrl">
       </div>
      
    </div>
    <hr/>
       <button type="submit" [disabled]="!companyForm.valid" class="btn btn-primary"> حفظ</button>
       <!--  -->
     </form>
    </div>
 
    <!-- <div class="col-md-6" *ngIf=" isLink ; else noLink">
      <label class="control-label required"> صورة الشركة </label>
       <p>
        <a href="{{link}}"> عرض الصورة</a> 
           | 
        <a class="stretched-link text-danger" (click)="deleteImg()">حذف</a>
       </p>
    </div> -->
